#slider{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 300px;
}

.slider-image-1{background-image: url("../images/slider/img-1.jpg");}
.slider-image-2{background-image: url("../images/slider/img-2.jpg");}
.slider-image-3{background-image: url("../images/slider/img-3.jpg");}
.slider-image-4{background-image: url("../images/slider/img-4.jpg");}

.text-shadow{
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #333333, 5px 4px 0px rgba(0,0,0,0.15);
}

@media(min-width:1000px){
    #slider{ height: 500px;}
}